In this section, you will act as a Data Science Consultant who will answer questions posed using a dataset collected by Dalberg. The dataset contains crops grown in Uganda.

In [ ]:
# loading the sql extention into our environment

%load_ext sql

# connect to our sqlite database memory

%sql sqlite://
  
# I am acting as a Data science consultant 
# using the dataset collected by Dalberg.
# the dataset has data on crops grown in Uganda.

'Connected: @None'

In [ ]:
# importing the csv libraries in python
import csv

In [ ]:
# For manipulation I will import pandas library
import pandas as pd

In [ ]:
# upload file

with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv', 'r') as f:
  Uganda_Karamoja_Subcounty_Crop_Yield_Population = pd.read_csv(f, index_col = 0, encoding= 'utf-8')

In [ ]:
# drop the existing table similar to the one in the current sqlite environment

%sql DROP TABLE if EXISTS Uganda_Karamoja_Subcounty_Crop_Yield_Population;
%sql PERSIST Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://
Done.
 * sqlite://

'Persisted uganda_karamoja_subcounty_crop_yield_population'

In [ ]:
# preview the table limit 6
%%sql
SELECT * FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population limit 6

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.2074107, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.8905232, 1162.996687, 13587.99076, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.531855, 1520.322052, 8.561643817, 561476.4874, 9991.488268),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334, 6761.488901, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.19813, 172.6119139, 3779939.224, 221609.5114),
 (268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.1858431, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139)]

In [ ]:
# Question: Display a list of Sub Counties and their population and areas

%%sql
SELECT SUBCOUNTY_NAME, POP, Area from Uganda_Karamoja_Subcounty_Crop_Yield_Population limit 4

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591)]

In [ ]:
# Question: Sort the list of districts by total crop area (descending order)
# limit 10 entries 
%%sql
SELECT DISTRICT_NAME from Uganda_Karamoja_Subcounty_Crop_Yield_Population
ORDER BY Crop_Area_Ha	DESC limit 10

 * sqlite://
Done.

[('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KAABONG',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',)]

In [ ]:
# Question: Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum

%%sql
SELECT SUBCOUNTY_NAME, S_Prod_Tot	from Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE DISTRICT_NAME = "MOROTO" 
ORDER BY SUBCOUNTY_NAME ASC

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

In [ ]:
# Question: Compute the total Maize production per District

# limit 7

%%sql
SELECT DISTRICT_NAME, SUM(M_Prod_Tot) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
GROUP BY DISTRICT_NAME

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

In [ ]:
# QUESTION: Compute the number of Sub counties where Maize is produced and the total Maize production per District. 
  
%%sql
SELECT count(SUBCOUNTY_NAME) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Prod_Tot is NOT NULL

 * sqlite://
Done.

[(52,)]

In [ ]:
# Question: Compute the overall Crop area in all Sub counties where population is over 20000
%%sql
SELECT SUBCOUNTY_NAME, SUM(Crop_Area_Ha) from Uganda_Karamoja_Subcounty_Crop_Yield_Population
where POP > 20000 
GROUP BY SUBCOUNTY_NAME

 * sqlite://
Done.

[('AMUDAT', 1651.99842),
 ('IRIIRI', 5473.443674),
 ('KAABONG  EAST', 1021.31699),
 ('KAABONG TOWN COUNCIL', 175.0805266),
 ('KAABONG WEST', 967.3367266),
 ('KALAPATA', 2834.349905),
 ('KAMION', 997.1610206),
 ('KAPEDO', 2365.259806),
 ('KARITA', 2513.27183),
 ('KATHILE', 6890.699234),
 ('KAWALAKOL', 3934.432233),
 ('KOTIDO', 13587.99076),
 ('KOTIDO TOWN COUNCIL', 1656.531855),
 ('LOBALANGIT', 1890.248613),
 ('LODIKO', 401.7978207),
 ('LOKOPO', 6471.047334),
 ('LOLACHAT', 5079.779088),
 ('LOLELIA', 2700.676313),
 ('LOREGAE', 5759.618906),
 ('LOROO', 1539.401382),
 ('MATANY', 2990.847377),
 ('NABILATUK', 3276.653762),
 ('NADUNGET', 2480.1219),
 ('NAKAPERIMORU', 7087.823334),
 ('NAMALU', 5793.507623),
 ('NAPORE (KARENGA)', 1494.047587),
 ('NGOLERIET', 1215.227445),
 ('PANYANGARA', 10398.24939),
 ('RENGEN', 13278.52043),
 ('RUPA', 2217.290717),
 ('SIDOK', 957.4939458),
 ('TAPAC', 1111.664207)]

In [ ]:
# Question: Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria
%%sql
SELECT SUBCOUNTY_NAME M_Prod_Tot, COUNT(SUBCOUNTY_NAME) from Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Area_Ha > S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY DISTRICT_NAME DESC

 * sqlite://
Done.

[('NAPAK TOWN COUNCIL', 2),
 ('MORUITA', 3),
 ('NORTHERN DIVISION', 3),
 ('NAPORE (KARENGA)', 3),
 ('AMUDAT', 1)]